html {
    font-size: 66.6%;
}

body {
    box-sizing: border-box;
    text-align: center;
    font-size: 3rem;
}

body h1,
body p {
    margin: 0;
}

h1 {
    color: palevioletred;
}

p {
    color: blueviolet;
}